.tab-bar {
    display: flex;
    justify-content: left;
    border-bottom: 3px solid #ccc;
    margin: 40px 0;
    gap: 20px;
}

.tab{
    color: #333;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    margin: 0 50px;
}

.tab.active{
    color: red;
    font-weight: 700;
}


.item {
    max-width: 1375px;
    margin: 0 auto;
    padding: 0 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

.item-image {
    width: 300px;
    height: 300px;
    object-fit: contain;
}
