.item-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 65px;
}

.item-image {
    width: 600px;
    height: 600px;
    object-fit: contain;
}

.item-right {
    display: flex;
    flex-direction: column;
    gap: 73px;
}

.item-title {
    width: 570px;
    height: 273px;
}

.item-name {
    font-size: 45px;
    font-weight: 700;
    font-style: bold;
    margin: 0;
}

.item-brand {
    font-size: 20px;
    margin: 0;
}

.item-price {
    font-size: 30px;
    font-weight: 400;
}

.item-actions {
    display: flex;
    justify-content: left;
    gap: 60px;
}

.item-actions_i {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.like-button {
    border: none;
    background: none;
}

.fa-heart,.fa-comment {
    font-size: 40px;
    display: block;
}

.item-actions_count {
    font-size: 18px;
    font-weight: 700;
}



.purchase {
    color: #fff;
    background-color: #ff5555;
    font-size: 30px;
    font-weight: 700;
    font-style: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 570px;
    height: 56px;
    border-radius: 4px;
}

.item-description__title {
    font-size: 36px;
    font-weight: 700px;
    font-style: bold;
}

.item-description__content {
    font-size: 24px;
}

.category-tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
}
.category-title {
    font-size: 24px;
    font-weight: 700;
}

.tag {
    display: flex;
    align-items: center;
    padding: 4px 10px;
    border-radius: 15px;
    background: #d9d9d9;
    font-size: 20px;
}

.condition {
    font-size: 20px;
}

.item-comments {
    display: flex;
    flex-direction: column;
}

.count-comment {
    font-size: 36px;
    font-weight: 700px;
    font-style: bold;
}

.user-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #d9d9d9;
}

.user-name {
    font-size: 30px;
    font-weight: 700;
}

.show-comment {
    height: 70px;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
}

.user-comment {
    font-size: 20px;
}

.comment-form__textarea {
    display: flex;
    flex-direction: column;
    width: 570px;
}

.comment-form__btn {
    font-size: 25px;
    color: #fff;
    width: 570px;
    background: #ff5555;
    border: none;
    border-radius: 4px;
    border-color: #ff5555;
    margin: 10px auto;
}
