.message {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    line-height: 1.6;
    margin-top: 200px;
    margin-bottom: 16px;
}

.form {
    display: flex;
    justify-content: center;
}

.form-btn {
    font-size: 24px;
    font-weight: 700;
    padding: 16px;
    border-radius: 10px;
    margin: 20px auto;
}

.resend-btn {
    font-size: 20px;
    color: #0073CC;
    background: none;
    border: none;
    margin: 20px;
}